header{
    color: yellow;
    background-color: red;
    width: 200px;
    height: 100px;
    padding: 50px;
    text-align: center;
    margin: auto;
    border: solid 10px black;
}
.biggertext{
    font-family: 40px;
}
.biggertext:hover{
    color: azure;
}
a:visited{
    color: orange;
}
a:hover{
color: blue;
}
a:visited{
    color: green;
}
ol li p{
display: none;
}
ol li:hover p{
    display: block;
}
