.container{
    display: grid;
    grid-template-columns: repeat(2, 100px) repeat(2,100px) auto;
    grid-template-rows: 100px 100px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.child{
    border: 1px solid red;
}
.box{
    border: solid 1px red;
}
.extramargin{
    border: 1px solid red;
}
