body{
    background-color: red;
}
form{
    background-color: white;
    padding: 1rem;
    border: solid 10px black;
    border-radius: 25px;
    width: 400px;
    margin: auto;
    position: relative;
    top: 100px;
    text-align: center;
}
input{
    margin-bottom: 40px;
    font-size: 25px;
}
label{
    color: aquamarine;
    text-shadow: 1px 1px 1px black;
}